body {
    margin: 0;
    padding: 0;

    > #roots {
         > #upperBar {
                background: black;
            position: absolute;
            top: 0;
            height: 30px;
            width: 100%;
         }
        > #instrumentsBar {
            height: 30px;
            width: 100%;
            background: aquamarine;
            position: absolute;
            bottom: 0;
        }
        > #notabsolute {
            height: 100%;
            display: grid;
            grid-template-columns: 0fr 1fr;
            padding: 29px 0px 29px 0px;
            box-sizing: border-box;

            #editor {
                width: 256px;
                height: 100%;
                background: #2d3133;
            }
        }
    }
}
